extends layout.pug

block content

  article.portfolio-intro

    h1 Hello World!

    p Check out my projects completed while earning my Web Development TechDegree with Team Treehouse. All projects I've submitted have passed with the grade of 'Exceeds Expectations' meaning I've successfully gone above and beyond the learning material and into independent study for each unit.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls.main}`, alt=`Square picture showing part of the layout for ${project.project_name} site.`)
            h5 #{project.project_name}
