extends layout.pug

block content

  article.portfolio-intro

    h1 Hello World!

    p Check out my projects completed while earning my Web Development TechDegree with Team Treehouse. I began my education in early 2022, though I've always been interested in Web Development. All projects I've submitted have passed with the grade of 'Exceeds Expectations' meaning I've gone above and beyond the learning material for each unit.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file

        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='')
            h5 My Site
