<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='imgs/'Bella-PFP.png, alt='Bella in a red dress in front of a natural background.')
        .dev-intro-box

          h5 Bella Bradbury

          p I'm a student learning full-stack web development through team treehouse, but outside of my education I'm a working Actress! The arts have provided me with many oppurtunities for learning as well, enabling me to become skilled in making meaningful connections, having a clean and welcoming online presence, keep an open mind to find the positives of a given situation, and adapting quickly to any scenario. I carry those skills with me in everything I do, including coding, which has allowed me to work quickly and even enjoy the process!

          //- Add path from your '/about' route handler to the href below
          a(href='views/about.pug') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Bella Bradbury

      block content

  script(src='/static/js/script.js')
